In [1]:
# FUNCTIONS IN PYTHON

In [2]:
def multiply(a):
    b=a*2
    print(b)
multiply(4)

8

In [3]:
#Built-in-functions

a=abs(10.33)
b=abs(-10.33)
c=abs(10)
d=abs(-10)

print(a)
print(b)
print(c)
print(d)

10.33
10.33
10
10

In [4]:
a=[12,44,55,"mad","kohli"]
len(a)

5

In [5]:
a=[1,1,1,1]
print(all(a))

b=[1,0,1,0]
print(all(b))

True
False

In [6]:
a=[1,2,3,4,5,2,3,4,7,8]
print(sum(a))
print(max(a))
print(min(a))

39
8
1

In [7]:
#iter

a=iter(["I","N","D","I","A"])
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

I
N
D
I
A

In [8]:
a=pow(2,3)
b=pow(33,33)
print(a)
print(b)

8
129110040087761027839616029934664535539337183380513

In [9]:
a=range(6)
for n in a:
    print(n)

0
1
2
3
4
5

In [10]:
a=range(1,10,2)
for i in a:
    print(i)

1
3
5
7
9

In [11]:
a=round(2.345678,2)
b=round(2.1234544226789,7)

print(a)
print(b)

2.35
2.1234544

In [12]:
l=["I","N","D", "I", "A"]

print(sorted(l))
print(sorted(l,reverse=True))
print(sorted(l,reverse=False))

['A', 'D', 'I', 'I', 'N']
['N', 'I', 'I', 'D', 'A']
['A', 'D', 'I', 'I', 'N']

In [13]:
l=[2,5,8,12,45,6,33,88,99]
print(sorted(l))
print(sorted(l,reverse=True))

[2, 5, 6, 8, 12, 33, 45, 88, 99]
[99, 88, 45, 33, 12, 8, 6, 5, 2]

In [14]:
t=("m","a","d","h","u","k","a","r")
t[slice(5)]

('m', 'a', 'd', 'h', 'u')

In [15]:
#user defined functions

In [16]:
def hello():
    name=str(input("Your name is "))
    print("Hello", name)
    return 
hello()

Your name is Madhukar V
Hello Madhukar V

In [17]:
def absolute(a):
    if a>=0:
        return a
    else:
        return -a
print(absolute(22220))
print(absolute(-23))

22220
23

In [18]:
def my_function(food):
    for x in food:
        print(x)

food = ['apple', 'mango', 'banana']
my_function(food)

apple
mango
banana

In [19]:
def multiply(a):
    return a*5+7
print(multiply(3))
print(multiply(6))

#try this 
#multiply(3)
#multiply(6)
#multiply(0)

22
37

In [20]:
def my_country(country="India"):
    print("I am from", country)
    
my_country()
#my_country("Srilanka")
#my_country()
#my_country("Singapour")

I am from India

In [21]:
def print_many(x, y):
    
   for i in range(y):
    print(x)

z = 3
print_many([1,2,3,4],z)
print_many("madhu",z)
print_many(3,z)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
madhu
madhu
madhu
3
3
3

In [22]:
#Returning a value from a function

In [23]:
def square(x):
    y = x * x
    return y

#toSquare = 10
#result = square(toSquare)
#print("The result of {} squared is {}.".format(toSquare, result))

square(5)

25

In [24]:
# After Return, nothing prints, no code executes

def weird():
    print("here")
    return 9
    print("there")
    return 4 

x = weird()
print(x)

here
9

In [25]:
def longer_than_five(list_of_names):
    for name in list_of_names: # iterate over the list to look at each name
        if len(name) > 5: # as soon as you see a name longer than 5 letters,
            return True # then return True!
            # If Python executes that return statement, the function is over and the rest of the code will not run -- you already have your answer!
    return False # You will only get to this line if you
    # iterated over the whole list and did not get a name where
    # the if expression evaluated to True, so at this point, it's correct to return False!

# Here are a couple sample calls to the function with different lists of names. Try running this code in Codelens a few times and make sure you understand exactly what is happening.

list1 = ["Sam","Tera","Sal","Amita"]
list2 = ["Rey","Ayo","Lauren","Natalie"]

print(longer_than_five(list1))
print(longer_than_five(list2))

False
True

In [26]:
def xyz(abc):
    for i in abc:
        if len(abc) > 3:
            return True
        return False
    
print(xyz([1,2,3,4,5]))
print(xyz(["madhu","svarat"]))

True
False

In [27]:
def square(x):
    y = x * x
    return y

print(square(5) + square(5))

50

In [28]:
def cyu2(s1, s2):
    x = len(s1)
    y = len(s2)
    return x-y

z = cyu2([1,2,3,4], [2,3,4,5,6,7])
if z > 0:
    print("First one was longer")
else:
    print("Second one was at least as long")

Second one was at least as long

In [29]:
def square(x):
    print("square")
    return x*x

def g(y):
    print("g")
    return y + 3

print(square(g(2)))

g
square
25

In [30]:
def show_me_numbers(list_of_ints):
    print(10)
    print("Next we'll accumulate the sum")
    accum = 0
    for num in list_of_ints:
        accum = accum + num
    return accum
    print("All done with accumulation!")

show_me_numbers([4,2,3])

10
Next we'll accumulate the sum

9

In [31]:
# Difference between "return" and "print"
# Return and Print
def square(x):
    #print("square")
    return x*x
square(5)

# After Print, Return can still function 

def square(x):
    return x*x
    print("square")
square(6)   

# After Return, nothing prints, no code executes

def square(x):
    y=x*x
    print("y")
    print("x")
    return y

#square(2)
#print(square(2))

# Print executes the variables, Return executes the Output

def square(x):
    y=x*x
    print("y")
    print("x")

#square(4)
#print(square(4))

# Return executes the Output

def square(x):
    y=x*x
    print(y)
    print(x)

# square(8)
#print(square(8))

# I called a function, it printed the values with proper output
# Print statement prints the value that passed into function variable.
# y is different (value), "y" is different (statements)

def square(x):
    y=x*x
    print(y)
    print(x)
    print("y")
    print("x")

#square(9)
#print(square(9))

# I called 'for print the function', it gave "none". 
# It is because, 'return' will execute the function parameters we passed into the function.
# whereas 'print' cannot do that operation. it can only read that as statements.

def square(x):
    y=x*x
    print(y)
    print(x)
    print("y")
    print("x")
    return y
square(11)
print(square(11))

# here, because of return statement after print,
# return statement will help print header line to execute the function.
# if no return statement, print asks for you "none",
# it has no support from anything to execte the function.

121
11
y
x
121
11
y
x
121

In [32]:
def mylist(lst):
    n=0
    for i in lst:
        n=n+i
    #print(n)
    return n

mylist([1,2,3,4,5,6,7,8,9])

45

In [33]:
# Scope of the function variables

#def square(x):
    #y=x*x
    #return y
#z=square(10)
#print(y)

# --> the above function gives error because,
# the variables assigned in the function defination are limited only to
# those "local variables" andnot for "global"
# scope of the variable "y" is local to the function "square",
# and so,it cannot access the statement "print(y)"
 
def square(x): #formal parameter "x", got its value from 10 which goes into
               #local namespace for the invocation of square,
               #even y being 100 will be in local stack frame
    y=x*x      
    return y

# suppose if "y" is defined outside of function like below,

y=5           # global frame with defined invocations and assignments "y"
z=square(10)  # global frame with defined name "square"
print(y)

# output will be 5,not 100 as we expect,
# it is due to namespace concept in python

5

In [34]:
# About Global name - 

# there is one unique global level namespace rest followed 
# by the invocations of new namespace
def square(x):
    w=q+1    # Assigned some values "q", "x" in the local variable "w" and "y"
    y=x*x    # Whereas "q" is assigned with some values "7" in Global frame
    return y

y=5 # "y" is also read as global variable due to defining outside of function body
q=7 # "q" is read as global variable due to defining outside of function body
z=square(10)
print(y)
            
# Since it confuses, it is better to avoid the reference of global variables
# in the local variables or inside the function defination. 
# better to create a different formal parameters in the function body

5

In [35]:
# Function can call another function; it is called as composition

def square(x):
    y=x*x
    return y             # function 1

def sum_square(x,y,z):   # function 2
    a=square(x)          # involving function 1 in function 1 
    b=square(y)
    c=square(z)
    return (a+b+c)

sum_square(1,2,4)

21

In [36]:
# Write a function called int_return that takes an integer as input and returns the same integer.

def int_return(x):
    return x

int_return(2)

2

In [37]:
# Write a function called add that takes any number as its input and returns that sum with 2 added.

def add(x):
    y = x+2
    return y
add(6)

8

In [38]:
# Write a function called change that takes any string, adds “Nice to meet you!” to the end of the argument given, and returns that new string.

def change(x):
    y = x + "Nice to meet you!"
    return y
change("Hello, ")

'Hello, Nice to meet you!'

In [39]:
# Write a function, accum, that takes a list of integers as input and returns the sum of those integers.

def accum(l):
    y = sum(l)
    return y

accum([1,2,3])

6

In [40]:
# Write a function, length, that takes in a list as the input. If the length of the list is greater than or equal to 5, return “Longer than 5”. If the length is less than 5, return “Less than 5”.

def length(l):
    if len(l)>=5:
        return ("longer than 5")
    else:
        return ("lesser than 5")

length([1,2,3,4,5,6,8,9])

'longer than 5'

In [41]:
def length(x):
    for i in x:
        if len(x) >= 5:
            return "Longer than 5"
        else:
            return "Less than 5"
length([1,2,3,4,5,6,7])

'Longer than 5'

In [42]:
def length(l):
    if len(l) >= 5:
        return 'longer than 5'
    return 'less than 5'
length([1,2,4,6])

'less than 5'

In [43]:
# You will need to write two functions for this problem. 
#The first function, divide that takes in any number and returns 
#that same number divided by 2. 
#The second function called sum should take any number, divide it by 2, 
#and add 6. It should return this new number. 
#You should call the divide function within the sum function. 
#Do not worry about decimals.


def divide(x):
    y = x/2
    return y

def sumy(z):
    q = divide(z) + 6
    return q

sumy(18)

15.0

Loops with Functions

In [1]:
# Python program to compute
# sum of digits in number.

def sumDigits(no):
	return 0 if no == 0 else int(no % 10) + sumDigits(int(no / 10))

# Driver code
n = 12345
print(sumDigits(n))

15

In [2]:
# Python 3 program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
	
	sum = 0
	while (n != 0):
	
		sum = sum + (n % 10)
		n = n//10
	
	return sum

n = 12345
print(getSum(n))

15

In [3]:
# Python program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
	
	strr = str(n)
	list_of_number = list(map(int, strr.strip()))
	return sum(list_of_number)

n = 12345
print(getSum(n))

15

In [12]:
# Python program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
    sum = 0
    for digit in str(n):
        sum += int(digit)
        return sum

print(getSum(123))

1