In [1]:
#Python Variables - Memory location for storing values. Act as the containers for storing values.
a = 5
print(a)

5

In [2]:
#Assigning values to variables: 1. A variable name should always start with a letter and can never start with numbers.
# In-built functions or keywords cannot be assigned to variable names.
# It cannot have any special symbol other than '_' -> underscore in its name.

In [3]:
#Case-sensitive.
b = 6
B = 8
print(b, B)

6 8

In [4]:
#Numbers - int, Decimals - float, words - string
c = 98
type(c)

int

In [5]:
d = 89.5
type(d)

float

In [6]:
a = 'Hello, World'
type(a)

str

In [7]:
v = "This is a boy's car"

In [8]:
#Assigning values -> 2 ways
#1. Static Way = Manually assigning the values to variables
#2. Dynamic Way = User- defined variable. Syntax -> input()

In [9]:
w = input()

In [10]:
type(w)

str

In [11]:
type(w)

str

In [12]:
u = float(input("Enter the float value"))

Enter the float value

ValueError: could not convert string to float: ''

In [ ]:
type(u)

In [ ]:
#Python Operators:Perform operations on variables and values.
a = 5
b = 3
print(a+b)

In [ ]:
#Arithematic operators-> +, -, *, /
# % Modulus -> returns the remainder after dividing the values.
a = 5
b = 2
print(a%b)

In [ ]:
c = 6
d = 3
print(c%d)

In [ ]:
# ** -> Exponentiation
a = 80
B = 23
print(a**a)

In [ ]:
# // -> Floor division  
A = 3  #2.66
B = 8
print(B//A)

In [13]:
import math
a = 9
math.sqrt(a)

3.0

In [14]:
#Assignment operators, =, +=, -=, *=, /=, %=,

In [15]:
a = 4
a+=5  #a = a+5, a-=5 -> a=a-5,
print(a)

9

In [16]:
# Comparison Operator -> ==, !=, <, >, <=, >=

In [17]:
a= 5
b=5
a==b

True

In [18]:
a = 5
b = 8
a!=b

True

In [19]:
#Logical Operators -> and, or, not. 1 is true, 2 is true
x =3
y=6
print(x<2 and y<10)

False

In [20]:
x = 3
y =12
print(not(x<5 or y<10))

False

In [ ]:
def getSum(n):
	
	sum = 0
    for digit in str(n):
        sum += int(digit)
        return sum

n = 12345
print(getSum(n))

In [18]:
a = str(input("enter 5 digit ="))

for i in len(a):
    
    if len(a) == 6:
        
        print('sum of 5 is =' , sum[a])
        
    else:
        
        print('abe nai hota!')

enter 5 digit =1123243
1123243

TypeError: 'int' object is not iterable

In [ ]:
name = input("nina esaru")

print(name)

urdob = input("ur dob?")

print(urdob)